# Model outputs
*.bin
*.tgz
*.obj
*.glb
*.gltf

# Misc files
.DS_Store
*~

# Build
compiled
dist
node_modules/
/node_modules
coverage
external/src
yarn-error.log
index_test.bin
index_test.glb
index_test.gltf
index_test.obj
index_test_draco.bin
index_test_draco.glb
index_test_draco.gltf
/.vs
Momentum*
v8.json
isolate*.log

# Scripts, perf test
scripts/*.csv
scripts/app.json
scripts/test_runs/
scripts/*/
benchmarks/*private

#external
/external/IFC-gen-internal/
/external/IFC-gen-internal/*
