[submodule "external/IFC-gen"]
	path = external/IFC-gen
	url = https://github.com/bldrs-ai/IFC-gen
	branch = main
[submodule "dependencies/conway-ds"]
	path = dependencies/conway-ds
	url = https://github.com/bldrs-ai/conway-ds.git
	branch = main
