[submodule "external/IFC-gen"]
	path = external/IFC-gen
	url = https://github.com/bldrs-ai/IFC-gen
	branch = main
[submodule "dependencies/conway-geom"]
	path = dependencies/conway-geom
	url = https://github.com/bldrs-ai/conway-geom.git
